<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<%= link_to "Post New Status", new_status_path, class: "btn btn-success" %>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="well">
			<%= @user.full_name %>
			<br />
			<%= status.content %>
			<hr />
			<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
		</div>
	<% end %>
<% end %>
